/* ./page.module.css */

.page {
    /* 1. Establecer como Flex Container */
    display: flex;
    /* 2. Disponer los ítems en una columna (vertical) */
    flex-direction: column;
    /* 3. Añadir un poco de espacio entre los componentes (CardRoles y las Card) */
    gap: 1.5rem; /* Separación vertical entre secciones */
    padding: 1rem; /* Margen interior */
}

